<div *ngIf="partner" class="info-window">
    <div>
        <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>{{partner.username}}</h3>
                <p>Offers: {{partner.offeredLanguages | ArrayJoinerPipe}}</p>
                <p>Learns: {{partner.requestedLanguages | ArrayJoinerPipe}}</p>
                <p><a href="#" class="btn btn-default" (click)="closePartnerDetails()" role="button">Close</a> <a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#sendMessageModal">Send message</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<send-message-modal [selected-partner]="partner" ></send-message-modal>