<div *ngIf="partner" class="info-window">
    <div>
        <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>{{partner.username}}</h3>
                <p>Offers: {{partner.offeredLanguages[0]}}</p>
                <p>Learns: {{partner.requestedLanguages[0]}}</p>
                <p><a href="#" class="btn btn-default" (click)="closePartnerDetails()" role="button">Close</a> <a href="#" class="btn btn-primary" role="button">Send message</a></p>
            </div>
        </div>
    </div>
</div>